.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1));
    gap: 2rem;
    width: 100%;
    padding: 1.5rem;


    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .cards-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .cards-grid {
      grid-template-columns: repeat(4, 2fr);
    }
  }

  .card-grid-wrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }