.cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;


    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .cards-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .cards-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .card-grid-wrapper {
    min-height: 200vh;
  }