.genre-page {
    background-color: #f2f2f2;
    min-height: 100vh; 
    padding: 2rem;
    margin: 10px;
  }

  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
  }

  .scrollable-container {
    height: 100vh;
    overflow-y: auto;
  }